:root {
  --size-0: 0px;
  --size-px: 1px;
  --size-0-5: 0.125rem;
  --size-1: 0.25rem;
  --size-1-5: 0.375rem;
  --size-2: 0.5rem;
  --size-2-5: 0.625rem;
  --size-3: 0.75rem;
  --size-3-5: 0.875rem;
  --size-4: 1rem;
  --size-4-5: 1.125rem;
  --size-5: 1.25rem;
  --size-5-5: 1.375rem;
  --size-6: 1.5rem;
  --size-6-5: 1.625rem;
  --size-7: 1.75rem;
  --size-7-5: 1.875rem;
  --size-8: 2rem;
  --size-9: 2.25rem;
  --size-10: 2.5rem;
  --size-11: 2.75rem;
  --size-12: 3rem;
  --size-14: 3.5rem;
  --size-16: 4rem;
  --size-18: 4.5rem;
  --size-20: 5rem;
  --size-24: 6rem;
  --size-28: 7rem;
  --size-32: 8rem;
  --size-36: 9rem;
  --size-40: 10rem;
  --size-44: 11rem;
  --size-48: 12rem;
  --size-52: 13rem;
  --size-56: 14rem;
  --size-60: 15rem;
  --size-64: 16rem;
  --size-72: 18rem;
  --size-80: 20rem;
  --size-88: 22rem;
  --size-96: 24rem;
  --size-104: 26rem;
  --size-112: 28rem;
  --size-120: 30rem;
  --size-128: 32rem;
  --size-144: 36rem;
  --size-160: 40rem;
  --size-176: 44rem;
  --size-192: 48rem;
  --size-208: 52rem;
  --size-224: 56rem;
  --size-240: 60rem;

  --size-1-of-2: 50%;
  --size-1-of-3: 33.333333%;
  --size-2-of-3: 66.666667%;
  --size-1-of-4: 25%;
  --size-2-of-4: 50%;
  --size-3-of-4: 75%;
  --size-1-of-5: 20%;
  --size-2-of-5: 40%;
  --size-3-of-5: 60%;
  --size-4-of-5: 80%;
  --size-1-of-6: 16.666667%;
  --size-2-of-6: 33.333333%;
  --size-3-of-6: 50%;
  --size-4-of-6: 66.666667%;
  --size-5-of-6: 83.333333%;
  --size-1-of-12: 8.333333%;
  --size-2-of-12: 16.666667%;
  --size-3-of-12: 25%;
  --size-4-of-12: 33.333333%;
  --size-5-of-12: 41.666667%;
  --size-6-of-12: 50%;
  --size-7-of-12: 58.333333%;
  --size-8-of-12: 66.666667%;
  --size-9-of-12: 75%;
  --size-10-of-12: 83.333333%;
  --size-11-of-12: 91.666667%;
  --size-full: 100%;
  --size-screen: 100vw;
  --size-screen-h: 100vh;
  --size-svw: 100svw;
  --size-svh: 100svh;
  --size-dvw: 100dvw;
  --size-dvh: 100dvh;
  --size-min: min-content;
  --size-max: max-content;
  --size-fit: fit-content;
  --size-auto: auto;

  --size-xs: 20rem;
  --size-sm: 24rem;
  --size-md: 28rem;
  --size-lg: 32rem;
  --size-xl: 36rem;
  --size-2xl: 42rem;
  --size-3xl: 48rem;
  --size-4xl: 56rem;
  --size-5xl: 64rem;
  --size-6xl: 72rem;
  --size-7xl: 80rem;

  --screen-xs: 475px;
  --screen-sm: 640px;
  --screen-md: 768px;
  --screen-lg: 1024px;
  --screen-xl: 1280px;
  --screen-2xl: 1536px;
  --screen-3xl: 1920px;

  --container-xs: 20rem;
  --container-sm: 24rem;
  --container-md: 28rem;
  --container-lg: 32rem;
  --container-xl: 36rem;
  --container-2xl: 42rem;
  --container-3xl: 48rem;
  --container-4xl: 56rem;
  --container-5xl: 64rem;
  --container-6xl: 72rem;
  --container-7xl: 80rem;
  --container-prose: 65ch;
}
